body {
    display:flex;
    flex-direction:column;
    font-family:hero, sans-serif;
    font-style:normal;
    font-weight:900;
}
header {
    display:flex;
}

.header {
    display:flex;
    justify-content:space-between;
}
.headerlinks {
    display:flex;
}

.headerlogo {

}

.content1 {
    color:white;
    background-color:#1F2937;
    font-size:48px;
    font-weight: 1000;
    display:flex;
    justify-content: center;
}
.content2 {
    display:flex;
    gap:8px;
    justify-content:center;
}

.content3 {
    font-size: 36px;
    color:#1F2937;
    background-color:#E5E7Eb;
}

.footer {
    display:flex;
    justify-content:center;
    align-items:center;
}

.box {
    display:flex;
    flex-direction:column-reverse;
}

.body {
    margin:0px;
}

a {
    text-decoration:none;
}
